camera: 0 0 -7 120.0 1920 1080

# Sans scale (baseline)
sphere: 0 0 -3 0.5 255 0 0

# Doublé en X (ellipse horizontale)
transform: scale 2 1 1
sphere: 2 0 -3 0.5 0 255 0

# Doublé en Y (ellipse verticale)
transform: scale 1 2 1
sphere: -2 0 -3 0.5 0 0 255

# Doublé en Z (plus proche/loin)
transform: scale 1 1 2
sphere: 0 2 -3 0.5 255 255 0

# Scale uniforme 1.5 (plus gros)
transform: scale 1.5 1.5 1.5
sphere: 0 -2 -3 0.5 255 0 255

plane: 0 3 -5 0 -1 0 200 200 200
ambient: 0.4 255 255 255
directional: -1 -1 -1 0.8 255 255 255
