# Demo Scene - Spheres, Planes, Cylinder, Cone
# Format: command x y z param... r g b

# Camera: position + fov + width height
camera:  0 0 -5 120 1920 1080

# Spheres: x y z radius r g b alpha
sphere: -0.9 0.0 -2.5 0.30 255 0 0 0.5
sphere: -0.3 0.0 -2.5 0.30 0 255 0 0.7
sphere: 0.3 0.0 -2.5 0.30 255 0 255 1.0
sphere: 0.9 0.0 -2.5 0.30 0 255 255 0.1

# Plane: x y z nx ny nz r g b
plane: 0 2 -5 0 -1 0 200 200 200

# Cylinder: x y z radius height ax ay az r g b
cylinder: -0.5 0 -2.5 0.2 0.6 0 1 0 255 200 0

# Cone: x y z height baseradius ax ay az r g b
cone: 0.5 0 -2.5 0.6 0.2 0 1 0 200 0 255

# Lights
ambient: 0.3 255 255 255
directional: -1 -1 -1 0.7 255 255 255
